#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: whitesmoke;
}
.menubar a:visited{ 
    text-decoration: none; 
    color:black 
}
.menubar a:link{
    text-decoration: none; 
    color:black 
}

.floatleft {
    list-style: none;
    padding-left: 20px;
    font-size: 22px;
    font-weight: bolder;
    text-emphasis-color: black;
    float:left;
}
.floatleft a{
    border: 3px solid black;
}

.floatleft a:hover{
    border: 3px solid rgba(46, 116, 181, 1);
}

.floatright{
    float:right;
    list-style: none;
    padding-right: 23px;
    font-size: 18px;
}

.menubar li {
    display: inline-block;
    margin-right: 8px;
}

.menubar a {
    text-decoration: none;
    padding: 4px;
}

.menubar a:hover {
    border-bottom: 3px solid rgba(46, 116, 181, 1);
}
