html, body {
    display: grid;
    top: 0px;
    font-family: 'Merriweather', sans-serif;
    background: whitesmoke;
}

.intro {
    display: grid;

    grid-template-columns: 10% 4fr 1fr 4fr 10%;
    
    margin: auto;
    margin-top: 10%;
}

.prof {
    grid-column: 4;
    grid-row: 1;
}

.bio {
    grid-column: 2;
    grid-row: 1;
}
.introbody {

    list-style-type: "- ";
    margin-top: 1em;
    margin-bottom: 1 em;
    margin-left: 0;
    margin-right: 0;
    padding-left: 20px;


    line-height: 150%;
}

.introbody a:visited {
    text-decoration: none; 
    color:  rgba(46, 116, 181, 1);
}
.introbody a:link{
    text-decoration: none; 
    color:  rgba(46, 116, 181, 1);
}

