html, body {
    display:grid;
    top: 0px;
    font-family: 'Merriweather', sans-serif;
}

.name {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 2px;
}

.subtitle, .bio, .social-links {
    font-family: 'Merriweather', sans-serif;
    font-size: 15px;
    font-weight: normal;
}

.intro, .right {
    text-align: center;
}

.left {
    align-items: center;
    position: absolute;
    z-index: 4;
}

.profile-picture {
    border-radius: 50%;
}

.social-links {
    list-style: none;
    padding-left: 0px;
    font-size: 18px;
}

.social-links li {
    display: inline-block;
    margin-right: 8px;
}

.social-links a {
    text-decoration: none;
    padding: 4px;
}

.social-links a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

body {
    background: whitesmoke;
}

/*rgba(185, 217, 235, 1)*/

.projects {
    display: grid;
    width: 60%;
    min-width: 800px;
    
    text-align: center;
    
    row-gap: 10px;
    margin: auto;
    margin-top: 100px;
}
.projectTitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 40px;
}
.projectSubTitle {
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 5px;
    font-size: 25px;
}

